/* Google Font link */
@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: TASA, Orbiter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* Header and Navbar */
header {
  background-color: #1e90ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 a {
  text-decoration: none;
  font-size: 130%;
  color: #f7fafc;
}

header h1 a:hover {
  color: #2d3748;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-right: 2em;
  font-size: 120%;
  font-weight: bold;
  color: #f7fafc;
}

nav ul li a:hover {
  color: #2d3748;
}

/* Main */
main {
  flex: 1;
  position: relative;
  background-color: #f7fafc;
  background: url("/assets/bg.jpg") no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

main > * {
  position: relative;
  z-index: 2;
}

/* Custom Alert Modal overlay */
#alert-modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f7fafc;
  font-size: 150%;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

/* Custom Alert Modal alert box */
#alert-box {
  background: #2d3748;
  padding: 2em;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
}

/* Custom Alert Modal alert message */
#alert-message {
  color: rgba(255, 255, 0, 0.861);
  margin-bottom: 2em;
}

/* Custom Alert Modal button */
#alert-ok-button {
  padding: 0.5em 2em;
  background-color: #1e90ff;
  color: #f7fafc;
  font-size: 70%;
  border: none;
  border-radius: 5px;
  font-weight: 550;
}

#alert-ok-button:hover {
  background-color: #1673cf;
  color: #d2d3d3;
}

/* Hero section */
#hero {
  background-color: #00bfa6;
  color: #f7fafc;
  font-size: 150%;
  min-height: 600px;
  min-width: 900px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero h2 {
  margin-top: 1.5em;
  margin-bottom: 0;
}

#hero form {
  background-color: #2d3748;
  min-width: 650px;
  min-height: 410px;
  margin-top: 2em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#city-search {
  margin-top: 2em;
  margin-right: 0.5em;
}

#city-search input {
  padding: 0.5em 0.5em;
  font-size: 70%;
  width: 150px;
  margin-right: 3em;
  border-radius: 5px;
  margin-bottom: 1em;
}

#city-search button {
  padding: 0.5em 2em;
  font-size: 70%;
  background-color: #1e90ff;
  color: #f7fafc;
  border: none;
  border-radius: 5px;
  font-weight: 550;
}

#city-search button:hover {
  background-color: #1673cf;
  color: #d2d3d3;
}

#city-info {
  margin-top: 1.8em;
  margin-bottom: 1em;
  margin-left: 4.5em;
}

#name-city {
  margin-right: 2.4em;
  margin-bottom: 1em;
}

#name-city label {
  margin-right: 3.2em;
  color: rgba(255, 255, 0, 0.861);
}

#city-name {
  padding: 0.5em 0.5em;
  font-size: 70%;
  width: 110px;
  border-radius: 5px;
}

#population-city {
  margin-right: 5em;
}

#population-city label {
  margin-right: 0.5em;
  color: rgba(255, 255, 0, 0.861);
}

#city-population {
  padding: 0.5em 0.5em;
  font-size: 70%;
  width: 110px;
  border-radius: 5px;
  margin-bottom: 2.5em;
}

#update-delete {
  margin-top: 0;
}

#add-button {
  padding: 0.5em 1em;
  font-size: 70%;
  background-color: #1e90ff;
  color: #f7fafc;
  border: none;
  border-radius: 5px;
  font-weight: 550;
  margin-right: 3em;
}

#add-button:hover {
  background-color: #1673cf;
  color: #d2d3d3;
}

#update-button {
  padding: 0.5em 1em;
  font-size: 70%;
  background-color: #1e90ff;
  color: #f7fafc;
  border: none;
  border-radius: 5px;
  font-weight: 550;
  margin-right: 3em;
}

#update-button:hover {
  background-color: #1673cf;
  color: #d2d3d3;
}

#remove-button {
  padding: 0.5em 1em;
  font-size: 70%;
  background-color: #1e90ff;
  color: #f7fafc;
  border: none;
  border-radius: 5px;
  font-weight: 550;
}

#remove-button:hover {
  background-color: #1673cf;
  color: #d2d3d3;
}

/* Footer */
footer {
  background-color: #1e90ff;
  color: #f7fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}
