/* Google Font link */
@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: TASA, Orbiter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* Header and Navbar */
header {
  background-color: #1e90ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 a {
  text-decoration: none;
  font-size: 130%;
  color: #f7fafc;
}

header h1 a:hover {
  color: #2d3748;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-right: 2em;
  font-size: 120%;
  font-weight: bold;
  color: #f7fafc;
}

nav ul li a:hover {
  color: #2d3748;
}

/* Main */
main {
  flex: 1;
  position: relative;
  background-color: #f7fafc;
  background: url("/assets/bg.jpg") no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

main > * {
  position: relative;
  z-index: 2;
}

/* Hero section */
#hero {
  background-color: #00bfa6;
  color: #f7fafc;
  font-size: 150%;
  min-height: 600px;
  min-width: 900px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero h2 {
  margin-top: 2em;
  margin-bottom: 0;
}

#hero form {
  background-color: #2d3748;
  min-width: 500px;
  min-height: 310px;
  margin-top: 3em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */
footer {
  background-color: #1e90ff;
  color: #f7fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}
