/* Google Font link */
@import url("https://fonts.googleapis.com/css2?family=TASA+Orbiter:wght@400..800&display=swap");

/* Global settings */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: TASA, Orbiter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

/* Header and Navbar */
header {
  background-color: #1e90ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 a {
  text-decoration: none;
  font-size: 130%;
  color: #f7fafc;
}

header h1 a:hover {
  color: #2d3748;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  margin-right: 2em;
  font-size: 120%;
  font-weight: bold;
  color: #f7fafc;
}

nav ul li a:hover {
  color: #2d3748;
}

/* Main */
main {
  flex: 1;
  position: relative;
  background-color: #f7fafc;
  background: url("/assets/bg.jpg") no-repeat center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

main > * {
  position: relative;
  z-index: 2;
}

/* Info sections */
#result-info {
  background-color: #00bfa6;
  color: #f7fafc;
  font-size: 150%;
  min-height: 600px;
  min-width: 900px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0 2em 0;
}

#result-info .data-display {
  background-color: #2d3748;
  min-height: 450px;
  min-width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#result-info .from {
  display: flex;
  gap: 0.5em;
  margin-left: 5em;
}

#result-info .to {
  display: flex;
  gap: 0.5em;
  margin-left: 5em;
}

#result-info .date-time {
  display: flex;
  gap: 0.5em;
  margin-top: 0.5em;
  margin-left: 5em;
  margin-bottom: 0;
}

#time {
  display: flex;
  gap: 0.5em;
  margin-left: 2em;
  margin-bottom: 1em;
}

#result-info button {
  padding: 0.5em 2em;
  font-size: 70%;
  background-color: #1e90ff;
  color: #f7fafc;
  border: none;
  border-radius: 5px;
  font-weight: 550;
}

#result-info button:hover {
  background-color: #1673cf;
  color: #d2d3d3;
}

#chart {
  background-color: #00bfa6;
  color: #f7fafc;
  font-size: 150%;
  min-height: 600px;
  min-width: 900px;
  border-radius: 30px;
  box-shadow: 5px 5px 20px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

#chart .data-display {
  background-color: #2d3748;
  min-height: 450px;
  min-width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer */
footer {
  background-color: #1e90ff;
  color: #f7fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}
